.modal {
  z-index: 1050 !important;
  width: 100%;
}
.model.show {
  background-color: rgb(0,0,0,0.6);
}
.modal-content {
    position: relative;
    width: 1000px;
    margin: 0 auto
}
.gridRow{
  height: 300px;
}
.primarybtn{
  background-color: #004db4;

}
.modal-dialog {
  width: auto;
  min-width: 70%;
}
.btn-delete{
  background-color: #004db4;
  margin-bottom: 0;
  border-bottom: 0;
  padding: 10px;
}
.modal-card-head {
  background-color: #004db4;
  border-bottom: 0px;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 10px;
}
.delete{
  float: right;
  background-color:transparent;
  border: none;
  box-shadow: none;
  font-weight: 900;
  border-radius: 50%;
  padding: 1px 9px 2px 9px;
}
.field{
  padding: 15px;
}
.label{
  float: left;
  margin-right: 10px;
}
.control-text{
  margin: 50px 50px 50px 50px;
  width: 60%;
}
.ReleaseStatus-Select{
  margin-left: 10px;
  width: 50%;
  border: 1px solid #ced4da;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.label-releasestatus{
  float: left;
}
.modal-card-title {
  color: #FFFFFF;
  float: left;
  margin-bottom: 0;
  font-size: 18px;
}
input {
  width: 50%;
  border: 1px solid #ced4da;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
::ng-deep .ag-header-viewport {
  background-color: #004db4 !important;
}
::ng-deep .ag-theme-balham .ag-paging-panel > span {
  color: #000;
}
.Components{
  padding: 15px;
}
.addComponent{
  float: left;
  margin: 0 0 10px 15px;
}
.btnfield{
  float: right;
  margin: 10px 15px;
}
.button-cancel{
    margin-right:10px;
}
.buttonwrapper{
  margin-left: 18px;
  margin-bottom:15px;
}
.buttonwrapper-delete{
  float: right;
  margin-right: 15px;
  margin-top: -6%;
}
::ng-deep .ag-cell-label-container {
  color: #fff;
}
.softwareSelect{
  width:130px;
}

/********/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.gridHeader{
  color: #fff;
  border-color: #004db4;
  background-color: #004db4;
  height: 60px;
}

.table-primary th{
  color: #fff;
  border-color: #004db4;
 background-color: #004db4;
 height: 60px;
}
table .table-striped .table-bordered{
  color: #fff;
  border-color: #004db4;
  background-color: #004db4;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.grid-container{
overflow-y: scroll;
overflow-x: hidden;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.modal.show {
  background-color: rgb(0,0,0,.7);
}
footer.modal-card-foot.buttons.is-right {
border: 1px solid #ccc;
/* height: 50px !important; */
}
.contentWidth{
  width:500px !important;
}